<section class="index-about">
  <div class="section-divider" id="about"></div>
  <div class="section-container">
    <h3>A Little About Me</h3>
    <div class="text-container">
      <p>
        In the time spent away from a computer screen, I enjoy watching sports, drinking a nice IPA, trying out new restaurants around town, or watching my favorite superhero film.
      </p>
    </div>
      <a href="{{ "/about" }}" class="button">
        Learn More
        <i class="fa fa-chevron-right"></i>
      </a>
  </div>
</section>
